<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Berantas Hoax</title>
    </head>

    <body>
        <h1 class="text-center mt-3">
            BERANTAS HOAX
            <small class="text-muted"><em>selamat datang.</em></small>
        </h1>
        <h4 class="text-center mt-3">Ragu dengan berita yang kamu dapat?</h4>
        <p class="text-center">Mari cek potensi hoax di sini</p>

        <form action="/result" target="_self" method="POST">
            <div class="input-group flex-wrap my-4 mx-auto" style="width: 500px;">
                <input type="text" id="berita" name="berita" class="form-control" placeholder="Teks berita" aria-label="Teks berita" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit", value="submit" id="button-addon2">Cek Hoax!</button>
                </div>
            </div>
        </form>
    </body>
</html>